<!-- <p>
  Name is {{title}}
  Testing
</p>

<input type="text" [size]="sizeVarFromTsFile" name="" id="">
<button class="btn btn-primary" (click)="sizeVarFromTsFile=sizeVarFromTsFile+1">Increase Size</button>

<button class="btn btn-primary">Test BT</button>
<app-junk></app-junk>
<br>
<br>
<app-stopwatch></app-stopwatch> -->
<a [routerLink]="['/books']">Books</a>&nbsp;
<a [routerLink]="['/junk']">Junk</a>&nbsp;
<a [routerLink]="['/bookRide']">BookRide</a>&nbsp;
<a [routerLink]="['/login']">Login Page</a>&nbsp;
<a [routerLink]="['/offerRide']">OfferRide</a>&nbsp;
<a [routerLink]="['/register']">Register</a>&nbsp;
<a [routerLink]="['/signup']">Sign up</a>
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- <app-books></app-books> -->
<!-- <app-login></app-login> --> 

<!-- <app-todo></app-todo> -->
<!-- 
<app-outer></app-outer> -->
<!-- <app-cus-attr-exercise></app-cus-attr-exercise> -->
<!-- <app-quotes></app-quotes> -->